auto-save-list/*
*~
.projectile
meghanada
projectile-bookmarks.eld
projectile.cache
recentf
eshell
eclipse.jdt.ls
eglot-eclipse-jdt-cache
elisp_notes.txt
workspace
elpa
eshell
transient
var
network-security.data
.lsp-session-v1